$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'https://fonts.googleapis.com/css?family=Oxygen|Satisfy';

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

#app {
  font-family: 'Oxygen', sans-serif;
}

h1 {
  font-family: 'Satisfy', cursive;
}
